<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opencloud.base.server.mapper.HouseHomeAppliancesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.opencloud.base.client.model.entity.HouseHomeAppliances">
        <id column="house_home_appliances_id" property="houseHomeAppliancesId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="house_id" property="houseId" />
        <result column="home_appliances_type_id" property="homeAppliancesTypeId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        house_home_appliances_id, house_id, home_appliances_type_id
    </sql>

    <!--自定义关联查询-->
    <!-- 表名 -->
    <sql id="t_name">house_home_appliances</sql>
    <!-- 别名 -->
    <sql id="t_alias">house_home_appliances as appliances</sql>
    <!--外键表关联定义 -->
    <sql id="join"></sql>

    <!-- 自定义查询单个实体 -->
    <select id="getEntityMap" resultType="com.opencloud.common.mybatis.EntityMap">
        SELECT * FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        ${ew.customSqlSegment}
    </select>

    <!-- 自定义关联查询分页 -->
    <select id="pageList" resultType="com.opencloud.common.mybatis.EntityMap">
        select ${ew.select} FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        ${ew.customSqlSegment}
    </select>
</mapper>
